:root {
  /* color */
  --SAGE: #8f8360;
  --BUTTER: #e9cf99;
  --MOSS: #3c3316;

  --DANGER-SMOOTH: #f06449;
  --SUCCESS-SMOOTH: #386c0b;

  /* fonts */
  --FONT-PRIMARY: 400 normal 1rem "Caveat", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: var(--FONT-PRIMARY);
  color: var(--MOSS);
  background-color: var(--BUTTER);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/CaveatReg.woff2") format("woff2");
  font-display: optional;
  font-weight: normal;
  font-style: normal;
}